{%extends 'base.html'%}

{%block content%}
<h2>Book Birth Certificate</h2>
<div class="form-container">
    <a href="/register/" class="nav-button"> <- </a>
            <form method="POST" class="works-container">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Book</button>
            </form>
            <a href="/report-lost-id/" class="nav-button"> -></a>
</div>

<style>
    .form-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-button {
        font-size: xx-large;
        font-weight: 600;

    }
</style>
{%endblock%}