{% extends 'base.html' %}

{% block content %}
<h2>Book Birth Certificate</h2>
<div class="form-container">
    <a href="/register/" class="nav-button"> <- </a>
            <form method="POST" class="works-container">
                {% csrf_token %}

                <div class="form-group">
                    <label for="{{ form.refugee.id_for_label }}">Refugee:</label>
                    {{ form.refugee }}
                </div>

                <div class="form-group">
                    <label for="{{ form.booking_date.id_for_label }}">Booking Date:</label>
                    {{ form.booking_date }}
                </div>
                {{ form.status.as_hidden }}

                <button type="submit" class="submit-button">Book</button>
            </form>

            <a href="/report-lost-docs/" class="nav-button"> -></a>
</div>

<style>

</style>
{% endblock %}