{%extends 'manage_dashboard.html'%}

{%block content%}
<h1>Manage Lost ID Reports</h1>
<table>
    <thead>
        <tr>
            <th>Refugee</th>
            <th>Lost Date</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for report in reports %}
        <tr>
            <td>{{ report.refugee.full_name }}</td>
            <td>{{ report.lost_date }}</td>
            <td>{{ report.description }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'manage_dashboard' %}">Back to Dashboard</a>

{%endblock%}